* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/** loader **/
/** homepage **/
.button {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.button .btn {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  width: 218px;
  height: 50px;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /** ombre sur bouton **/
  color: #ffffff;
  border-style: none;
  margin: 0;
  cursor: pointer;
}
.button .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/** menu - pages **/
.button-menu {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.button-menu .btn-menu {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  width: 186px;
  height: 50px;
  margin: 13px 0 40px 0;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}
.button-menu .btn-menu:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.loader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #F7F7F7;
  animation: pageView 2.5s 3s linear forwards;
}

@keyframes pageView {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
.pan-loader {
  width: 180px;
  height: 180px;
  margin: 100px auto;
}
.pan-loader .loader {
  position: relative;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  animation: pan 2s infinite;
}
.pan-loader .pan {
  width: 60%;
  height: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  /* box-shadow: 5px 0 8px 4px $color-shadow;**/
  border-radius: 20px;
  animation: shadow 2s infinite;
}

/**@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/form";
@import "./pages/";
@import "./pages/";
@import "./pages/";
@import "./pages/";
@import "./pages/";**//*# sourceMappingURL=main.css.map */