@charset "UTF-8";
/** général **/
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/** loader **/
.loader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #F7F7F7;
  animation: pageView 2.5s 3s linear forwards;
}

@keyframes pageView {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
.pan-loader {
  width: 180px;
  height: 180px;
  margin: 100px auto;
}
.pan-loader .loader {
  position: relative;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  animation: pan 2s infinite;
}
.pan-loader .pan {
  width: 60%;
  height: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  /* box-shadow: 5px 0 8px 4px $color-shadow;**/
  border-radius: 20px;
  animation: shadow 2s infinite;
}

/** navigation **/
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-container .logo-nav {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin: 14px 108px 5px 105px;
  text-decoration: none;
  color: #101010;
}

.search-bar-icon {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  align-items: center;
  width: 100%;
  gap: 17px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.search-bar-icon .pin-icon {
  width: 12px;
  height: 16px;
  border: 16px 259px 18px 104px;
}
.search-bar-icon .pin-icon .search-bar-input {
  width: 109px;
  height: 19px;
  color: #353535;
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
}

.title-button {
  background-color: #F6F6F6;
  padding: 40px 0 57px 0;
}
.title-button .section-title {
  /**width: 275px; **/
  height: 68px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.title-header {
  font-weight: 700;
  font-size: 24px;
}

.title-txt {
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.button .btn {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  width: 218px;
  height: 50px;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /** ombre sur bouton **/
  color: #ffffff;
  border-style: none;
  margin: 0;
  cursor: pointer;
}
.button .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.functioning {
  padding: 48px 20px 68px 20px;
}
.functioning .functioning-title {
  height: 31px;
}

.list-items {
  list-style-type: none;
  padding: 26px 0px 0 12px;
  display: grid;
  row-gap: 25px;
}
.list-items .item {
  position: relative;
  font-weight: 500;
  height: 72px;
  border-radius: 20px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  width: 322px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.list-items .item .num {
  position: absolute;
  left: -11px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.text-item {
  width: 211px;
  height: 16px;
}

.mobil-icon {
  width: 13px;
  height: 20px;
  fill: #7E7E7E;
  padding: 24px 27px 28px 30px;
}

.list-icon {
  width: 16px;
  height: 16px;
  fill: #7E7E7E;
  padding: 28px 23px 28px 30px;
}

.store-icon {
  width: 18px;
  height: 18px;
  fill: #9356DC;
  padding: 26px 20px 28px 30px;
}

.restaurants {
  height: 1226px;
  background-color: #F7F7F7;
}
.restaurants .restaurants-title {
  padding: 54px 0 0 20px;
  height: 48px;
}

.direction-cards {
  display: grid;
  gap: 18px;
  padding: 0 18px 66px 17px;
}
.direction-cards .full-card {
  position: relative;
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.direction-cards .full-card .link-menu {
  text-decoration: none;
  color: #000000;
}

.new {
  position: absolute;
  color: #008657;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 14px;
  margin: 13px 12px 0 0;
  padding: 7px 9px 6px 9px;
  height: 16px;
  right: 13px;
  border-radius: 2px;
}

.restaurants img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.text-full-card {
  display: flex;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
}
.text-full-card .text-card {
  display: grid;
  gap: 5px;
}

.text-card {
  display: grid;
  gap: 5px;
}
.text-card .card-title {
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}
.text-card .card-title .card-subtitle {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
}

/** heart **/
svg {
  width: 22px;
  height: 21px;
}

.heart-icon {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-top: 5px;
}

.animation {
  stroke: black;
  fill: transparent;
}

.direction {
  position: absolute;
  left: 0;
}

/* Animation quand je coche */
.heart-checkbox:checked + .heart-icon svg:nth-child(2) path {
  animation: draw 0.3s linear;
  fill: url(#myGradient);
  stroke: url(#myGradient);
}

@keyframes draw {
  0% {
    transform: scale(0, 0);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
}
/* animation quand je décoche */
.heart-checkbox:not(:checked) + .heart-icon svg:nth-child(2) path {
  animation: undraw 0.3s linear forwards;
  fill: url(#myGradient);
  stroke: url(#myGradient);
}

@keyframes undraw {
  0% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(0, 0);
    transform-origin: bottom center;
  }
}
.heart-checkbox {
  display: none;
}

/** /heart **/
.footer-menu {
  padding: 22px 0 22px 25px;
  display: grid;
  gap: 16px;
  background-color: #353535;
  color: #FFFFFF;
}
.footer-menu .logo-footer {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 19px; /**si 18px pixel top**/
  height: 27px;
}

.menu-items {
  display: grid;
  gap: 7px;
  padding: 0;
  list-style-type: none;
}
.menu-items .footer-item {
  display: flex;
  /**flex-direction: row;**/
  -moz-column-gap: 11px;
       column-gap: 11px;
}

.cutlery-icon svg {
  width: 11px;
  height: 13px;
  padding-top: 2px;
}

.handshake-icon {
  padding-top: 2px;
}

.handshake-icon svg {
  width: 12px;
  height: 13px;
  fill: #FFFFFF;
  padding-top: 2px;
}

.footer-link-icon {
  width: 168px;
  font-weight: 500;
  height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-link {
  width: 130px;
  font-weight: 400;
  height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

/**.footer-link-mail { 
  color:$color;
  text-decoration: none;
  &:hover {
    color: $color-tertiary;
  }
}**/
/** page 2 **/
.arrow-icon {
  fill: #353335;
  width: 18px;
  height: 16px;
  position: absolute;
  margin: 24px 64px 23px 23px;
  top: 0;
}

.img-header {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-menu {
  width: 100%;
  max-width: 1055px;
  background-color: #F7F7F7;
  position: relative;
  margin-top: -50px;
  border-radius: 25px 25px 0 0;
  padding: 1px 0 0 0;
}
.section-menu .main-title {
  height: 27px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}

.main-subtitle {
  height: 27px;
  font-weight: 300;
  font-size: 16px;
  margin: 40px 87px 12px 13px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.direction-heart {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
  padding: 32px 41px 0 17px;
}

.menu-heart {
  padding-right: 23px;
}

/** animation-arrivée progressive des plats **/
.animation-landing-menu {
  opacity: 0;
  animation: animation-landing-menu 1s ease-out forwards;
}

@keyframes animation-landing-menu {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation-landing-menu:nth-of-type(1) {
  animation-delay: 0.2s;
}

.animation-landing-menu:nth-of-type(2) {
  animation-delay: 0.6s;
}

.animation-landing-menu:nth-of-type(3) {
  animation-delay: 1s;
}

/** design cards **/
.main-card {
  max-width: 634px;
  height: 69px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
}
.main-card .menu-card-infos {
  padding: 15px;
}
.main-card .menu-card-infos .menu-card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  max-width: 100%;
  transition: max-width 1s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-card-subtitle {
  font-weight: 300;
  font-size: 15px;
  max-width: 100%;
  transition: max-width 1s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-card-price {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  bottom: 11px;
}

.item-check-icon {
  width: 59px;
  height: 69px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -60px;
}

.item-check-icon svg {
  width: 20px;
  height: 20px;
  fill: white;
  background-color: #99E2D0;
}

/** placemment du label pour l'input radio **/
.cursor-check {
  width: 100%;
  z-index: 9999;
  position: absolute;
  cursor: pointer;
  height: 69px;
}

.card-input-radio {
  display: none;
}

/** animation du prix au hover **/
.main-card:hover .card-input-radio:not(:checked) ~ .menu-card-infos > .menu-card-price {
  animation: hoverprice 1s forwards;
}

@keyframes hoverprice {
  from {
    right: 15px;
  }
  to {
    right: 75px;
  }
}
/** animation du prix quand on quitte le hover **/
.main-card:not(:hover) .card-input-radio:not(:checked) ~ .menu-card-infos > .menu-card-price {
  animation: nothoverprice 1s;
}

@keyframes nothoverprice {
  from {
    right: 75px;
  }
  to {
    right: 15px;
  }
}
/** position du prix quand la carte est sélectionnée **/
.main-card:hover .card-input-radio:checked ~ .menu-card-infos > .menu-card-price,
.main-card:not(:hover) .card-input-radio:checked ~ .menu-card-infos > .menu-card-price {
  right: 75px;
}

/** max-width pour gérer l'ellipsis quand la coche verte est visible **/
.main-card:hover > .menu-card-infos > .menu-card-subtitle,
.main-card:hover > .menu-card-infos > .menu-card-title,
.main-card:not(:hover) .card-input-radio:checked ~ .menu-card-infos > .menu-card-subtitle,
.main-card:not(:hover) .card-input-radio:checked ~ .menu-card-infos > .menu-card-title {
  max-width: 228px;
}

/** animation de la coche verte au hover **/
.main-card:hover .card-input-radio:not(:checked) ~ .item-check-icon {
  animation: hover 1s forwards;
}

@keyframes hover {
  from {
    right: -60px;
  }
  to {
    right: 0px;
  }
}
/** animation de la coche verte quand on quitte le hover **/
.main-card:not(:hover) .card-input-radio:not(:checked) ~ .item-check-icon {
  animation: nothover 1s forwards;
}

@keyframes nothover {
  from {
    right: 0px;
  }
  to {
    right: -60px;
  }
}
/** position de la coche verte quand la carte est sélectionnée **/
.main-card:hover .card-input-radio:checked ~ .item-check-icon,
.main-card:not(:hover) .card-input-radio:checked ~ .item-check-icon {
  right: 0px;
}

.button-menu {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.button-menu .btn-menu {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  width: 186px;
  height: 50px;
  margin: 13px 0 40px 0;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}
.button-menu .btn-menu:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* Small devices (phones, less than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
/** medias quieries tablette **/
/** Desktop responsive (more 1024px) **/
@media (min-width: 768px) {
  .title-header {
    font-size: 40px;
  }
  .section-title {
    display: inline-block !important;
  }
  .list-items {
    display: grid;
    -moz-column-gap: 24px;
         column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  /**menu**/
  .img-header {
    height: 342px;
  }
}
@media (min-width: 490px) {
  .full-card {
    width: 490px;
  }
  .direction-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1034px) {
  .functioning {
    display: grid;
    row-gap: 25px;
    margin-left: 190px;
  }
  .direction-cards {
    justify-content: center;
    -moz-column-gap: 92px;
         column-gap: 92px;
  }
  .restaurants-title {
    margin-left: 190px;
  }
}
@media (min-width: 1107px) {
  .restaurants {
    height: 668px;
  }
  .footer-menu {
    display: flex;
    flex-direction: row-reverse;
    padding: 57px 27px 30px 0;
    align-items: end;
  }
  .menu-items {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .section-menu {
    margin-left: 193px;
  }
  .direction-heart {
    width: 307px;
    padding: 51px 0 0 374px;
  }
  .cards-list-menu {
    margin-left: 210px;
  }
}/*# sourceMappingURL=style.css.map */