/** général **/
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #F7F7F7;
$color: #FFFFFF;
$background-icon: #7E7E7E;

$linear-gradient: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);

/** loader **/
$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #FF79DA;
$pan-color-dark: #9356DC;
$loader-color: #99E2D0;

.loader-box {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: $background-color;
    animation: example 2.5s 3s linear forwards;
}

@keyframes example {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }
}

@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  // border: 1px solid red;
  margin: 100px auto;
  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }
  .pan-container {
    display:flex;
    width: 100%;
    animation: pan $timing infinite;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    // box-shadow: 5px 0 8px 4px $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}

/** navigation **/
.nav-container {
    display: flex;
    align-items: center;
    width: 100%;   
    .logo-nav {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        width: 100%;
        display: flex;
        text-align: center;
        font-size: 30px;
        margin: 14px 108px 5px 105px;     
    }
}

.search-bar-icon {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 50px;
    align-items: center;
    width: 100%;
    gap: 17px;  
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .pin-icon {
        width: 12px;
        height: 16px;
        border: 16px 259px 18px 104px;
        .search-bar-input {
            width: 109px;
            height: 19px;
            color: #353535;
            border: none;
            background-color: #EAEAEA;
            font-weight: 500;
        }
    }
}

.title-button {
    background-color: #F6F6F6;
    padding: 40px 0 57px 0;  
    .section-title {
        font-weight: 700;
        font-size: 24px;
        width: 275px; 
        height: 68px;
        display: flex;
        text-align: center;
        margin: 0 58px 0 42px;  
        
    }
}

.title-txt {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    height: 46px;
}

.button {  
    display: flex;
    justify-content: center;
    margin-top: 27px;
    
    &:hover {
      & .button__bg {
        opacity: 1;
      }
    }
    &__bg {
        position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
              opacity: 0;
              z-index: -1;
              transition: opacity 250ms;
          }
    }
    .btn {
        font-size: 16px;
        border-radius: 25px;
        padding: 13px 19px 13px 19px;
        height: 50px;
        background-image: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);
        box-shadow:0 4px 10px rgba(0, 0, 0, 0.25); /** ombre sur bouton **/
        color:#ffffff;
        border-style: none;
        margin: 0;
        cursor: pointer;
        }



.functioning {
    padding: 48px 20px 68px 20px;
    .functioning-title {
        height: 31px;
    }
}

.list-items {
    list-style-type: none;
    padding: 26px 0px 0 12px;
    display: grid;
    row-gap: 25px;
    .item {
        font-weight: 500;
        height: 72px;
        border-radius: 20px;
        background-color: $background-color;
        display: flex;
        align-items: center;
        padding-left: 34px;
    }
}


.num {
    position: absolute;
    left: 21px;
    color: $color;
    border-radius: 50%;
    background-color: $color-primary;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 14px; 
}

.mobil-icon {
    height: 20px;
    fill: $background-icon;
    padding: 24px 27px 28px 0;  
}

.list-icon {
    height: 16px;
    fill: $background-icon;
    padding: 28px 23px 28px 0;
}

.store-icon {
    width: 18px;
    height: 18px;
    fill: $color-primary;
    padding: 26px 20px 28px 0;
}

.direction-cards {
    display: grid;
    gap: 18px;
    padding: 0 18px 66px 17px;
}

.full-card {
    height: 251px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.restaurants img {
    width: 100%;
    max-width: 346px;
    height: 174px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    display: block;
}

.text-full-card {
    
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 12px 13px;

}

.text-card {
    display: grid;
    gap: 5px;
}

.card-title {
    height: 20px;
    font-size: 18px;
    font-weight: 700;
}
.card-subtitle {
    height: 24px;
    font-weight: 300;
    font-size: 17px;
}


/** heart **/
.heart-icon {
    display: inline-block;
    width: 22px;
    height: 21px;
    cursor: pointer;
    position: relative;
    padding-top: 5px;
  
  }
  

  /** notre coeur déselectionné **/
  .heart-icon svg path {
    stroke: black;
    fill: transparent;
    
  }
  
  /** notre coeur sélectionné **/
  .heart-checkbox:checked + .heart-icon svg path {
    fill: url(#myGradient);
    stroke: unset;
  
  }
  
  /** on masque le petit carré de la checkbox **/
  .heart-checkbox {
    display: none;
  }

  
  

.new {                 
    position: absolute;
    color: #008657;
    background-color: #99E2D0;
    font-weight: 500;
    font-size: 14px;
    margin: 13px 12px 0 0;
    padding: 7px 9px 6px 9px;
    height: 16px;
    right: 13px;
    border-radius: 2px;
}

.restaurants {
    height: 1226px;
    background-color: $background-color;
}

.restaurants-title {
    padding: 54px 0 0 20px;
    height: 48px;
}

.footer-menu {
    width: 100%;
    padding: 22px 0 22px 25px;
    display: grid;
    gap: 16px;
    background-color: #353535;
    color: #FFFFFF;
}

.logo-footer {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 19px; /**si 18px pixel top**/
    height: 27px;  
}

.menu-items {
    display: grid;
    gap: 7px;
    padding: 0;
    list-style-type: none;
}

.footer-item {
    display: flex;
    /**flex-direction: row;**/
    column-gap: 11px;
}

.cutlery-icon {
    width: 11px;
    height: 13px;
    padding-top: 2px;
}

.cutlery-icon svg {
    height: 13px;
}

.handshake-icon {
    width: 12px;
    height: 13px;
    padding-top: 2px;
}

.handshake-icon svg {
    height: 13px;
    fill: white;
}

.footer-link-icon {
    font-weight: 500;
    height: 19px;
}

.footer-link {
    font-weight: 400;
    height: 20px;
}

/** page 2 **/

.arrow-icon {
    fill: #353335;
    width: 18px;
    height: 16px;
    position: absolute;
    margin: 24px 64px 23px 23px;
    top: 0;
}

.img-header {
    width: 100%;
    height: 275px;
    object-fit: cover;  
}

.section-menu {
    width: 100%;
    height: 1121px;
    background-color: $background-color;
    position: absolute;
    top: 283px;
    border-radius: 25px 25px 0 0;
}

.main-title {
    height: 27px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 28px;
    margin: 32px 17px 2px 17px;
}

.main-subtitle {
    height: 27px;
    font-weight: 300;
    font-size: 16px;
    margin: 40px 87px 12px 13px;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
}

.main-card {
    background-color: $color;
    border-radius: 15px;
    margin: 12px 13px 12px 12px;
    display: grid;
    gap: 5px;
    padding: 12px 15px 12px 15px;

}

.menu-card-title {
    height: 21px;
    font-weight: 500;  
}

.price {
    display: flex;
    justify-content: space-between;
    .menu-card-subtitle {
        height: 19px;
        font-weight: 300;
        font-size: 15px;
    }
}

.euros {
    font-size: 15px;
    font-weight: 700;
    height: 18px;
}

.button-menu {
    display: flex;
    justify-content: center;
    margin-top: 27px;  
}

.btn {
    font-size: 16px;
    border-radius: 25px;
    padding: 13px 19px 13px 19px;
    height: 50px;
    margin: 13px 0 40px 0;
    background-image: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);
    color: $color;
    border-style: none;
    &__:hover {
        
            
     }
}




