@charset "UTF-8";
/** général **/
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/** loader **/
.loader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #F7F7F7;
  animation: example 0.3s 3s linear forwards;
}

@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
@keyframes loader {
  0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}
@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}
.pan-loader {
  width: 180px;
  height: 180px;
  margin: 100px auto;
}
.pan-loader .loader {
  position: relative;
  top: 10%;
  left: 0;
  z-index: -1;
  width: 60%;
  height: 45%;
  border: 10px solid transparent;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}
.pan-loader .pan-container {
  display: flex;
  width: 100%;
  animation: pan 2s infinite;
}
.pan-loader .pan {
  width: 60%;
  height: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.pan-loader .handle {
  width: 40%;
  height: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pan-loader .shadow {
  position: relative;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 8px;
  background: lightgray;
  border-radius: 20px;
  animation: shadow 2s infinite;
}

/** navigation **/
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-container .logo-nav {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 30px;
  margin: 14px 108px 5px 105px;
}

.search-bar-icon {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  align-items: center;
  width: 100%;
  gap: 17px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.search-bar-icon .pin-icon {
  width: 12px;
  height: 16px;
  border: 16px 259px 18px 104px;
}

.search-bar-input {
  width: 109px;
  height: 19px;
  color: #353535;
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  width: 275px;
  height: 68px;
  display: flex;
  text-align: center;
  margin: 0 58px 0 42px;
}

.title-txt {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  height: 46px;
}

.title-button {
  background-color: #F6F6F6;
  padding: 40px 0 57px 0;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.button .btn {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  height: 50px;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  border-style: none;
  margin: 0;
}
.functioning {
  padding: 48px 20px 68px 20px;
}

.functioning-title {
  height: 31px;
}

.list-items {
  list-style-type: none;
  padding: 26px 0px 0 12px;
  display: grid;
  row-gap: 25px;
}

.item {
  font-weight: 500;
  height: 72px;
  border-radius: 20px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  padding-left: 34px;
}

.num {
  position: absolute;
  left: 21px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.mobil-icon {
  height: 20px;
  fill: #7E7E7E;
  padding: 24px 27px 28px 0;
}

.list-icon {
  height: 16px;
  fill: #7E7E7E;
  padding: 28px 23px 28px 0;
}

.store-icon {
  width: 18px;
  height: 18px;
  fill: #9356DC;
  padding: 26px 20px 28px 0;
}

.direction-cards {
  display: grid;
  gap: 18px;
  padding: 0 15px 66px 14px;
}

.full-card {
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.restaurants img {
  width: 100%;
  max-width: 346px;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-card {
  height: 77px;
  display: grid;
  gap: 5px;
  align-content: center;
  margin-left: 13px;
}

.card-title {
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}

.card-subtitle {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
}

.heart-container { /** coeur **/
  position: relative;
  width: 22px;
  height: 21px;
  fill: none;
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-clip-path: url(#svgPath);
          clip-path: url(#svgPath);
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart-stroke { /** ./coeur**/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.new {
  position: absolute;
  color: #008657;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 14px;
  margin: 13px 12px 0 0;
  padding: 7px 9px 6px 9px;
  height: 16px;
  right: 13px;
  border-radius: 2px;
}

.restaurants {
  height: 1226px;
  background-color: #F7F7F7;
}

.restaurants-title {
  padding: 54px 0 0 20px;
  height: 48px;
}

.footer-menu {
  padding: 22px 0 22px 25px;
  display: grid;
  gap: 16px;
  background-color: #353535;
  color: #FFFFFF;
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  height: 27px;
}

.menu-items {
  display: grid;
  gap: 7px;
  padding: 0;
  list-style-type: none;
}

/** page 2 **/
.arrow-icon {
  fill: #353335;
  width: 18px;
  height: 16px;
  position: absolute;
  margin: 24px 64px 23px 23px;
  top: 0;
}

.img-header {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-menu {
  width: 100%;
  height: 1121px;
  background-color: #F7F7F7;
  position: absolute;
  top: 283px;
  border-radius: 25px 25px 0 0;
}

.main-title {
  height: 27px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  margin: 32px 17px 2px 17px;
}

.main-subtitle {
  height: 27px;
  font-weight: 300;
  font-size: 16px;
  margin: 40px 87px 12px 13px;
}

.main-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 12px 13px 12px 12px;
  display: grid;
  gap: 5px;
  padding: 12px 15px 12px 15px;
}

.card-title {
  height: 21px;
  font-weight: 500;
}

.price {
  display: flex;
  justify-content: space-between;
}
.price .card-subtitle {
  height: 19px;
  font-weight: 300;
  font-size: 15px;
}

.euros {
  font-size: 15px;
  font-weight: 700;
  height: 18px;
}

.button-menu {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.btn {
  font-size: 16px;
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  height: 50px;
  margin: 13px 0 40px 0;
  background-image: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  border-style: none;
}/*# sourceMappingURL=style.css.map */