/** général **/
* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
    
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #F7F7F7;
$color: #FFFFFF;
$background-icon: #7E7E7E;

$linear-gradient: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);

/** loader **/
$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #FF79DA;
$pan-color-dark: #9356DC;
$loader-color: #99E2D0;

.loader-box {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: $background-color;
  animation: example 2.5s 3s linear forwards;
}

@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}

@keyframes loader {
 0% {
    width: 10%;
    transform: rotate(0deg);
  }
  10% {
    left: 0%;
    transform: rotate(0deg);
  }
  20% {
    width: 0%;
    left: 20%;
  }
  30% {
    width: 25%;
  }
  50% {
    left: 15%;
    width: 35%;
  }
  70% {
    width: 30%;
    left: 18%;
    transform: rotate(240deg);
  }
  90% {
    width: 30%;
    left: 10%;
  }
  100% {
    width: 2%;
    left: 25%;
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
  10% {
    transform: rotate(-2deg);
    transform-origin: top right;
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shadow {
  0% {
    width: 30%;
  }
  50% {
    width: 40%;
    left: 20px;
  }
  100% {
    width: 30%;
  }
}

.pan-loader {
  width: $component-dimension;
  height: $component-dimension;
  margin: 100px auto;
  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }
  .pan-container {
    display:flex;
    width: 100%;
    animation: pan $timing infinite;
  }
  .pan {
    width: 60%;
    height: 20px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    /* box-shadow: 5px 0 8px 4px $color-shadow;**/
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}

/** navigation **/
.nav-container {
    display: flex;
    align-items: center;
    width: 100%;   
    .logo-nav {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        width: 100%;
        display: flex;
        text-align: center;
        font-size: 30px;
        margin: 14px 108px 5px 105px; 
        text-decoration: none;
        color: #101010;   
    }
}

.search-bar-icon {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 50px;
    align-items: center;
    width: 100%;
    gap: 17px;  
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .pin-icon {
        width: 12px;
        height: 16px;
        border: 16px 259px 18px 104px;
        .search-bar-input {
            width: 109px;
            height: 19px;
            color: #353535;
            border: none;
            background-color: #EAEAEA;
            font-weight: 500;
            
        }
    }
}

.title-button {
    background-color: #F6F6F6;
    padding: 40px 0 57px 0;  
    .section-title {
        font-weight: 700;
        font-size: 24px;
        /**width: 275px; **/
        height: 68px;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0 auto; 
        width: 100%
        
    }
}

.title-txt {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    height: 46px;
}

.button {  
    display: flex;
    justify-content: center;
    margin-top: 27px;
    .btn {
        font-size: 16px;
        border-radius: 25px;
        padding: 13px 19px 13px 19px;
        width: 218px;
        height: 50px;
        background-image: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);
        box-shadow:0 4px 10px rgba(0, 0, 0, 0.25); /** ombre sur bouton **/
        color:#ffffff;
        border-style: none;
        margin: 0;
        cursor: pointer;
        &:hover{
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, $color-primary -5.2%, $color-secondary 110.74%);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        }
    }   
}



.functioning {
    padding: 48px 20px 68px 20px;
    .functioning-title {
        height: 31px;
    }
}

.list-items {
    list-style-type: none;
    padding: 26px 0px 0 12px;
    display: grid;
    row-gap: 25px;
    .item {
        font-weight: 500;
        height: 72px;
        border-radius: 20px;
        background-color: $background-color;
        display: flex;
        align-items: center;
        padding-left: 34px;
    }
}


.num {
    position: absolute;
    left: 21px;
    color: $color;
    border-radius: 50%;
    background-color: $color-primary;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 14px; 
}

.mobil-icon {
    height: 20px;
    fill: $background-icon;
    padding: 24px 27px 28px 0;  
}

.list-icon {
    height: 16px;
    fill: $background-icon;
    padding: 28px 23px 28px 0;
}

.store-icon {
    width: 18px;
    height: 18px;
    fill: $color-primary;
    padding: 26px 20px 28px 0;
}

.direction-cards {
    display: grid;
    gap: 18px;
    padding: 0 18px 66px 17px;
}

.full-card {
    height: 251px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.restaurants img {
    width: 100%;
    height: 174px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    display: block;
}

.text-full-card {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px 12px 13px;
}

.text-card {
    display: grid;
    gap: 5px;
}

.card-title {
    height: 20px;
    font-size: 18px;
    font-weight: 700;  
}
.card-subtitle {
    height: 24px;
    font-weight: 300;
    font-size: 17px;
}

.link-menu {
  text-decoration: none;
  color: #000000;
}


 /** heart **/
#icon-vector{
  width: 27px;
  height: 25px;
}



.heart-icon {
    display: inline-block;
    width: 22px;
    height: 21px;
    cursor: pointer;
    position: relative;
    padding-top: 5px;
  }
  


  /** notre coeur déselectionné **/
 .heart-icon svg path {
    stroke: black;
    fill: $color; /**transparent**/
    
  }
 
    
  
  
  /** notre coeur sélectionné **/
  .heart-checkbox:checked + .heart-icon svg path {
    fill: url(#myGradient);
    stroke: unset;
  }

  /** on masque le petit carré de la checkbox **/
  .heart-checkbox {
    display: none;
  }

  

.new {                 
    position: absolute;
    color: #008657;
    background-color: #99E2D0;
    font-weight: 500;
    font-size: 14px;
    margin: 13px 12px 0 0;
    padding: 7px 9px 6px 9px;
    height: 16px;
    right: 13px;
    border-radius: 2px;
}

.restaurants {
    height: 1226px;
    background-color: $background-color;
}

.restaurants-title {
    padding: 54px 0 0 20px;
    height: 48px;
}

.footer-menu {
    
    padding: 22px 0 22px 25px;
    display: grid;
    gap: 16px;
    background-color: #353535;
    color: #FFFFFF;
}

.logo-footer {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 19px; /**si 18px pixel top**/
    height: 27px;  
}

.menu-items {
    display: grid;
    gap: 7px;
    padding: 0;
    list-style-type: none;
}

.footer-item {
    display: flex;
    /**flex-direction: row;**/
    column-gap: 11px;
}

.cutlery-icon {
    width: 11px;
    height: 13px;
    padding-top: 2px;
}

.cutlery-icon svg {
    height: 13px;
}

.handshake-icon {
    width: 12px;
    height: 13px;
    padding-top: 2px;
}

.handshake-icon svg {
    height: 13px;
    fill: $color;
}

.footer-link-icon {
    font-weight: 500;
    height: 19px;
    color:$color;
    text-decoration: none;
}

.footer-link {
    font-weight: 400;
    height: 20px;
    color:$color;
    text-decoration: none;
}

/**.footer-link-mail { 
  color:$color;
  text-decoration: none;
  &:hover {
    color: $color-tertiary;
  }
}**/

/** page 2 **/

.arrow-icon {
    fill: #353335;
    width: 18px;
    height: 16px;
    position: absolute;
    margin: 24px 64px 23px 23px;
    top: 0;
}

.img-header {
    width: 100%;
    height: 275px;
    object-fit: cover;  
}

.section-menu {
    width: 100%;
    height: 1121px;
    background-color: $background-color;
    position: relative;
    margin-top: -50px;
    border-radius: 25px 25px 0 0;
    padding: 1px 0 0 0;
}

.direction-heart {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 32px 17px 0 17px;
}

.menu-heart {
  padding-right: 23px;
}

.main-title {
    height: 27px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 28px;
    
}

.animation-landing-menu {
  opacity: 0;
  animation: animation-landing-menu 1s ease-out forwards;
}

@keyframes animation-landing-menu {
  from{
    opacity: 0;
    transform: translateX(-100%);
  }

  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-landing-menu:nth-of-type(1) {
  animation-delay: 0.2s; 
}
  
  .animation-landing-menu:nth-of-type(2) {
  animation-delay: 0.6s; 
}
  
  .animation-landing-menu:nth-of-type(3) {
  animation-delay: 1s; 
}

.main-subtitle {
    height: 27px;
    font-weight: 300;
    font-size: 16px;
    margin: 40px 87px 12px 13px;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
}

.main-card {
    background-color: $color;
    border-radius: 15px;
    margin: 12px 13px 12px 12px;
    display: grid;
    gap: 5px;
    padding: 12px 0 12px 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    &:hover {
      /**width: 287px;**/
      /**padding-right: 5px;**/
    }
 
}

.menu-card-title {
    width: 287px;
    height: 21px;
    font-weight: 500;  
}

.price {
    height: 19px;
    display: flex;
    justify-content: space-between;
    /**width: 319px;**/
    .menu-card-subtitle {
        font-weight: 300;
        font-size: 15px;
        text-overflow: ellipsis;
        width: 287px;
        overflow: hidden;
        white-space: nowrap;
        &:hover{
          width: 228px;
        }
    }
}

.item-check-icon svg{
  width: 20px;
  height: 20px;
  fill: $color;
  background-color: $color-tertiary; 
  display: flex;
  align-self: center;
}

.item-check-icon {
  width: 59px;
  height: 69px;
  background-color: $color-tertiary; 
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
  position: relative;
  top: -38px;
  opacity: 0;
  &:hover {
    width: 59px;
    transform: translateX(0px);
    background-color: #99e2d0;
    cursor: pointer;
    color: #f6f6f6;
    opacity: 1;
    animation-duration: 1s;
    animation-name: slidein;
    margin-left: -55px;
  }
}

/** animation **/

@keyframes slidein {
  from {
    transform: translateX(100%);
    margin-left: 0%;
  }
  to {
    transform: translateX(0%);
    margin-left: 0%;
  }
}


#entree1 {
  position: absolute;
  /**transform : rotate(180deg);**/
   /**z-index: 9999; pour mettre le check derriere l'icône**/
}

.euros {
    font-size: 15px;
    font-weight: 700;
    height: 18px;
    padding-right: 15px;
}

.button-menu {
    display: flex;
    justify-content: center;
    margin-top: 27px;  
    .btn-menu {
      font-size: 16px;
      border-radius: 25px;
      padding: 13px 19px 13px 19px;
      width: 186px;
      height: 50px;
      margin: 13px 0 40px 0;
      background-image: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);
      color: $color;
      border-style: none;
      cursor: pointer;
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(360deg, $color-primary -5.2%, $color-secondary 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);  
     }
  }
}




