.button {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    .btn {
        @include buttons;
        width: 218px;
        margin: 0;
        cursor: pointer;
    }
}

.btn-menu {
    @include buttons;
    width: 186px;
    margin: 13px 0 40px 0;   
    
}
