// Homepage - section fonctionnement
.mobil-icon {
    width: 13px;
    height: 20px;
    fill: $background-icon;
    padding: 24px 27px 28px 30px;  
}

.list-icon {
    width: 16px;
    height: 16px;
    fill: $background-icon;
    padding: 28px 23px 28px 30px;
}

.store-icon {
    width: 18px;
    height: 18px;
    fill: $color-primary;
    padding: 26px 20px 28px 30px;
}

