.heart-icon {
    cursor: pointer;
    position: relative;
    padding-top: 5px;

    /* éléments svg à l'intérieur de .heart-icon */
    svg {
        width: 22px;
        height: 21px;

        /* deuxième svg enfant */
        /* animation quand je sélectionne (remplissage du coeur) et désélectionne (vidage du coeur) */
        &:nth-child(2) {
            path {
                transform-origin: bottom center;

                .heart-checkbox:checked + & {
                    animation: draw 0.3s linear;
                    fill: $gradient-url;
                    stroke: $gradient-url;
                }

                .heart-checkbox:not(:checked) + & {
                    animation: undraw 0.3s linear forwards;
                    fill: $gradient-url;
                    stroke: $gradient-url;
                }
            }
        }
    }
}

.animation {
    stroke: black;
    fill: transparent;
}

.direction {
    position: absolute;
    left: 0;
    /* correction spécifique pour Firefox */
    @-moz-document url-prefix() {
        top: 5px;
    }
}

/** input type checkbox caché **/
.heart-checkbox {
    display: none;
}

/******* keyframes *******/
@keyframes draw {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes undraw {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 0);
    }
}