/** placement du label pour l'input radio **/
.cursor-check {
    width: 100%;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    height: 69px;
}
  
/** input radio caché mais accessible pour le clic **/
.card-input-radio {
    display: none;
}


/** design cards **/
.main-card {
    max-width: 634px;
    height: 69px;
    position: relative;
    background-color: white;
    border-radius: 15px;
    margin: 12px;
    box-shadow: $box-shadow;
    cursor: pointer;
    overflow: hidden;
 
    /** quand la carte n'est pas survolée **/
    &:not(:hover) {
        .card-input-radio:not(:checked) {
            ~ .menu-card-infos > .menu-card-price {
                animation: nothoverprice 1s;
            }

            ~ .item-check-icon {
                animation: nothover 1s forwards;
            }

            ~ .item-check-icon svg {
                animation: unrotateCheckIcon 1s forwards;
            }
        }
    }
  
   /** quand la carte est sélectionnée (case cochée) et gére l'ellipsis quand la coche verte est visible **/
    .card-input-radio:checked {
        ~ .menu-card-infos > .menu-card-price {
            right: 75px;
        }
  
        ~ .item-check-icon {
            right: 0;
        }
  
        ~ .menu-card-infos > .menu-card-subtitle,
        ~ .menu-card-infos > .menu-card-title {
            max-width: 228px;
        }
    }
  
    /** quand la carte est survolée avec la position du prix **/
    /** gére l'ellipsis quand la coche verte est visible **/ 
    &:hover {
        .card-input-radio:not(:checked) {
            ~ .menu-card-infos > .menu-card-price {
                animation: hoverprice 1s forwards;
            }
  
            ~ .item-check-icon {
                animation: hover 1s forwards;
            }
  
            ~ .item-check-icon svg {
                animation: rotateCheckIcon 1s forwards;
            }
        }
       
        > .menu-card-infos > .menu-card-subtitle,
        > .menu-card-infos > .menu-card-title {
            max-width: 228px; 
        }
    }
  
    /** écrans plus larges **/
    @media (min-width: 430px) {
        > .menu-card-infos > .menu-card-subtitle,
        > .menu-card-infos > .menu-card-title {
            max-width: none;
            overflow: initial !important;
        }
    }
}

/******** keyframes ********/
/** animation du prix au hover **/
@keyframes hoverprice {
    from { 
        right: 15px; 
    }
    to { 
        right: 75px; 
    }
}
  
/** animation du prix quand on quitte le hover **/
@keyframes nothoverprice {
    from { 
        right: 75px; 
    }
    to { 
        right: 15px; 
    }
}
  
/** animation de la coche verte au hover **/
@keyframes hover {
    from { 
        right: -60px; 
    }
    to { 
        right: 0; 
    }
}
  
/** animation de la coche verte quand on quitte le hover **/
@keyframes nothover {
    from { 
        right: 0; 
    }
    to { 
        right: -60px; 
    }
}
 
/**  animation pour faire tourner l'icône quand la carte est juste survolée **/
@keyframes rotateCheckIcon {
    0% { 
        transform: rotate(-180deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}
 
/** animation pour faire tourner l'icône quand la carte n'est pas survoléé **/
@keyframes unrotateCheckIcon {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(-180deg); 
    }
}
