$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #F7F7F7;
$color: #FFFFFF;
$background-icon: #7E7E7E;

$linear-gradient: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);

/** loader **/
$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #FF79DA;
$pan-color-dark: #9356DC;
$loader-color: #99E2D0;