$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #F7F7F7;
$color: #FFFFFF;
$first-color: #353535;
$background-icon: #7E7E7E;
$color-text: #000000;
$background-color-header: #F6F6F6;
$background-color-nav: #EAEAEA;
$color-logo: #101010;

$color-badge: #008766;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
$linear-gradient: linear-gradient(360deg, $color-primary -11.44%, $color-secondary 123.93%);

/** loader **/
$component-dimension: 180px;
$timing: 2s;
$color-shadow: lightgray;
