.functioning {
    padding: 48px 20px 68px 20px;
    @media (min-width: 1034px) {
        display: grid;
        row-gap: 25px;
        margin-left: 155px;
      }
    .functioning-title {
        height: 31px;
    }
}

.list-items {
    list-style-type: none;
    padding: 26px 0px 0 12px;
    display: grid;
    row-gap: 25px;
    @media (min-width: 768px) {
        display: grid;
        column-gap: 24px;
        display: flex;
        flex-wrap: wrap;
      }
    .item {
        position: relative;
        font-weight: 500;
        height: 72px;
        border-radius: 20px;
        background-color: $background-color;
        display: flex;
        align-items: center;
        width: 322px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        .num {
          position: absolute;
          left: -11px;
          color: $color;
          border-radius: 50%;
          background-color: $color-primary;
          height: 24px;
          width: 24px;
          text-align: center;
          line-height: 24px;
          font-size: 14px; 
        }
    }
}

.text-item {
  width: 211px;
  height: 16px;
}