/** navigation **/
.nav-container {
    display: flex;
    align-items: center;
    width: 100%;   
    .logo-nav {
        @include flex-center;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        width: 100%;
        font-size: 30px;
        margin: 14px 108px 5px 105px; 
        text-decoration: none;
        color: $color-logo;   
    }
}

.search-bar-icon {
    @include flex-center;
    background-color: $background-color-nav;
    height: 50px;
    width: 100%;
    gap: 17px;  
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    .pin-icon {
        width: 12px;
        height: 16px;
        .search-bar-input {
            width: 109px;
            height: 19px;
            color: $first-color;
            border: none;
            background-color: $background-color-nav;
            font-weight: 500;  
        }
    }
}
